<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Question and Answer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/watson-bootstrap-dark.css">
    <link rel="stylesheet" href="/css/browser-compatibility.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="header row">
        <div class="col-lg-3"><img src="/images/app.png"></div>
        <div class="col-lg-8">
          <h2>Question Answer Go Starter Application</h2>
          <p>
            The IBM Watson™ Question Answer (QA) service provides an API, referred
            to as the QAAPI, that enables you to add the power of the IBM Watson
            cognitive computing system to your application. With this service,
            you can connect to Watson, post questions, and receive responses
            that you can use in your application.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
        {{yield}}
    </div>
    <script type="text/javascript" src="/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/example_input.js"></script>
  </body>
</html>